#For ssl we need to do below changes in the /etc/nginx/nginx.config , need to include all redirect inside ssl

server {
        listen  80;
        server_name 52.66.197.54;
        return 301 https://$server_name$uri;
          }

   server {
        listen 443 ssl;
        ssl_certificate /etc/nginx/ssl/certtest.crt;
        ssl_certificate_key /etc/nginx/ssl/certtest.key;

        location / {
        root         /usr/share/nginx/html;
        index index.html;
        }

        error_page 404 /404.html;
        location = /404.html {
        }

        error_page 500 502 503 504 /50x.html;
        location = /50x.html {
        }
    }
